.hero-image {
  /* linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)) */
  background-image: url("../assets/images-icons/banner-bg.png");

  height: 80vh;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

#page-selectors-container {
  display: none;
}
@media screen and (min-width: 600px) {
  #page-selectors-container {
    display: flex;
    justify-content: flex-start;

    list-style-type: none;
  }
  .page-selector {
    margin: 0 1rem;
  }
}
a {
  color: aliceblue;
}
